.catalog {
  display: flex;
  flex-direction: column;

  .container();
}

.catalog__list {
  .reset-list();

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.catalog__item {
  display: flex;
  flex-direction: column;
}


//.catalog__button {}

.catalog__button--grey {
  color: black;
  background-color: #f2f2f2;
}


//.catalog__table {}


.catalog__image {
  width: 140px;
  height: 144px;
  background-color: @green;
}


.catalog__show-all {
  .center();
}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
}

.catalog__text--bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: regular;
  font-family: @default-font;
}

.catalog__text--big {
  text-transform: uppercase;

  font-size: 16px;
  line-height: 20px;
  font-weight: regular;
}
