.forms {}

.forms__title {
  font-size: 24px;
  line-height: 24px;
}

.forms__title--small {
  font-size: 14px;
  line-height: 18px;
}

.forms__info {}

.forms__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.forms__text--small {
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
}

.forms__input {
  font-family: @default-font;
  text-transform: uppercase;
}

.forms__input--email {}

.forms__input--phone {}

.forms__radio {}

.forms__programs {}

.forms__commentary {

}

.forms__commentary-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.forms__additional {}

.forms__checkbox {}

.forms__button {
  border: none;
}



