.page-footer {
  background-color: @light-grey;
  display: flex;
  flex-direction: column;
  .padding-container();
}

.page-footer__info {
  background-color: @light-grey;
  display: flex;
  justify-content: space-between;
}

.page-footer__text {
  font-size: 14px;
  line-height: 20px;
}

.page-footer__text--big {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (min-width: @desktop-width) {
  .page-footer__info {
    width: 570px;
    height: 201px;

    background-color: @white;
  }
}
