@bg: background;  /* Переменная для замены слова background, применять с фигурными скобками */

.flex() {}


/* Примесь для размера шрифта */
.font-size(@size: 20px;) {
  font-size: @size;
}



.font(@font-size; @line-height; @font-weight; @font-style;) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  font-style: @font-style;
}

@default-font: "Oswald", "Arial", sans-serif;

